@import "@fontsource-variable/geist";

html {
  min-height: 100%;
  font-family: "Geist Variable", sans-serif;
}

body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #f7faf9;
}
